:root {
  --brand-color: rgba(33, 150, 243, 1);
  --text-blue-color: rgba(33, 150, 243, 1);
  --text-white-color: rgba(255, 255, 255, 1);
  --text-logo-color: rgba(0, 0, 0, 1);
  --text-bold-color: rgba(33, 33, 33, 1);
  --text-main-color: rgba(117, 117, 117, 1);
  --link-hover-color: rgba(33, 150, 243, 1);
  --link-footer-color: rgba(255, 255, 255, 0.6);
  --background-dark: rgba(47, 48, 58, 1);
  --background-light: rgba(245, 244, 250, 1);
  --background-white: rgba(255, 255, 255, 1);

  --card-set-gap: 30px;

  --func-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ---COMMON--- */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

.section-title {
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-bold-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* MODALS */

.backdrop {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity 250ms var(--func-cubic);
}

.backdrop__is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop__is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;

  padding: 40px;

  background-color: var(--background-white);

  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform 250ms var(--func-cubic), opacity 250ms var(--func-cubic);
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--background-white);
  cursor: pointer;
}

.modal__btn-icon {
  fill: currentColor;
  transition: color 250ms var(--func-cubic);
}

.modal__btn-icon:hover {
  color: var(--link-hover-color);
}

.modal__title {
  margin-bottom: 2px;

  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-bold-color);
}

.form-order {
  display: block;
  color: var(--text-main-color);
}

.form-order__label {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;

  margin-top: 10px;

  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form-order__icon {
  position: absolute;
  top: 28px;
  left: 12px;
}

.form-order__input {
  margin-top: 4px;
  padding-left: 42px;

  width: 448px;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border 250ms var(--func-cubic), fill 250ms var(--func-cubic);
}

.form-order__input:focus {
  border: 1px solid var(--brand-color);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.form-order__input:hover {
  border: 1px solid var(--brand-color);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.form-order__label:hover {
  fill: var(--brand-color);
  cursor: pointer;
}

.form-order__label:focus {
  fill: var(--brand-color);
  cursor: pointer;
}

.form-order__textarea {
  padding: 12px 16px;

  height: 120px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border 250ms var(--func-cubic), fill 250ms var(--func-cubic);
}

.form-order__textarea:hover {
  border: 1px solid var(--brand-color);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.form-order__textarea:focus {
  border: 1px solid var(--brand-color);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.form-order__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-order__confirm {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;

  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.form-order__link {
  text-decoration: underline;
  color: var(--link-hover-color);
}

.form-order__other-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  background-image: url('../images/icons/uncheck.svg');

  transition: background-image 250ms var(--func-cubic);
}

.visually-hidden:checked + .form-order__other-checkbox {
  border-color: transparent;
  background-image: url('../images/icons/check.svg');
}

.form-order__confirm-text {
  margin-right: 4px;
}

/* ---INDEX.HTML--- */

/* HEADER */

.header-section {
  border-bottom: 1px solid #ececec;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: var(--text-logo-color);
}

.logo-link--header {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-link__part {
  color: var(--brand-color);
}

.nav-list {
  display: flex;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.nav-list__item {
  position: relative;
}

.nav-list__item:not(:first-child) {
  margin-left: 50px;
}

.nav-list__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-bold-color);

  transition: color 250ms var(--func-cubic);
}

.nav-list__link:hover {
  color: var(--link-hover-color);
}

.nav-list__link:focus {
  color: var(--link-hover-color);
}

.nav-list__link--current {
  color: var(--brand-color);
}

.nav-list__link--current::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--brand-color);
  border-radius: 2px;
}

.contacts-list {
  display: flex;
  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.contacts-list__item:last-child {
  margin-left: 50px;
}

.contacts-list__link {
  display: flex;
  align-items: center;

  color: var(--text-main-color);

  transition: color 250ms var(--func-cubic);
}

.contacts-list__link:hover {
  color: var(--link-hover-color);
}

.contacts-list__link:focus {
  color: var(--link-hover-color);
}

.contacts-list__icon-mail {
  margin-right: 10px;
  fill: currentColor;
}

.contacts-list__icon-smartphone {
  margin-right: 10px;
  fill: currentColor;
}

/* СЕКЦИЯ ЗАКАЗАТЬ УСЛУГУ */

.tagline-section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--background-dark);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/back-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.tagline-section__title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;

  text-transform: uppercase;
  color: var(--text-white-color);
}

.tagline-section__btn {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 28px;

  width: 200px;

  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;

  color: var(--text-white-color);
  background: var(--brand-color);
  border-radius: 4px;
}

.tagline-section__btn:hover {
  cursor: pointer;
}

/* СЕКЦИЯ Наши преимущества */

.advantages-section {
  padding-top: 107px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
}

.advantages-list__item:not(:last-child) {
  margin-right: 30px;
}

.advantages-list__icon-wrapper {
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;

  background-color: var(--background-light);
  border-radius: 4px;
}

.advantages-list__icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.advantages-list__title {
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-bold-color);
}

.advantages-list__text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: var(--text-main-color);
}

/* СЕКЦИЯ  ЧЕМ МЫ ЗАНИМАЕМСЯ */

.busy-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.busy-list {
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

.busy-list__item {
  position: relative;
}

.busy-list__item:not(:last-child) {
  margin-right: 30px;
}

.busy-list__text {
  z-index: 2;
  position: absolute;

  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  width: 100%;
  text-align: center;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* СЕКЦИЯ   НАША КОМАНДА */

.team-section {
  background-color: var(--background-light);
}

.team-section__wrapper {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
}

.team-list__item {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  background-color: var(--background-white);
}

.team-list__item:not(:last-child) {
  margin-right: 30px;
}

.team-list__text {
  padding: 30px;
}

.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-bold-color);
}

.team-list__position {
  margin-top: 10px;
  margin-bottom: 16px;

  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
}

.social-list {
  display: flex;
}

.social-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  color: rgba(175, 177, 184, 1);

  transition: background-color 250ms var(--func-cubic),
    color 250ms var(--func-cubic);
}

.social-list__link:hover {
  background-color: var(--link-hover-color);
  color: var(--text-white-color);
}

.social-list__link:focus {
  background-color: var(--link-hover-color);
  color: var(--text-white-color);
}

.social-list__icon {
  fill: currentColor;
}

/* СЕКЦИЯ ПОСТОЯННЫЕ КЛИЕНТЫ */

.regular-customers__wrapper {
  padding-top: 94px;
  padding-bottom: 94px;

  color: rgba(175, 177, 184, 1);
}

.regular-customers__list {
  display: flex;
}

.regular-cutomers__item:not(:last-child) {
  margin-right: 30px;
}

.regular-customers__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 90px;

  color: rgba(175, 177, 184, 1);
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;

  transition: color 250ms var(--func-cubic), border 250ms var(--func-cubic);
}

.regular-customers__icon {
  fill: currentColor;
}

.regular-customers__link:hover {
  color: var(--link-hover-color);
  border: 1px solid var(--link-hover-color);
}

.regular-customers__link:focus {
  color: var(--link-hover-color);
  border: 1px solid var(--link-hover-color);
}

/* FOOTER */

.footer {
  background-color: var(--background-dark);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-link--footer {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--text-white-color);
}

.footer-container__address {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: var(--text-white-color);
}

.footer-container__contacts {
  display: block;
  margin-top: 9px;

  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: var(--link-footer-color);

  transition: color 250ms var(--func-cubic);
}

.footer-container__contacts:hover {
  color: var(--link-hover-color);
}

.footer-container__contacts:focus {
  color: var(--link-hover-color);
}

.footer-title {
  margin-top: 12px;
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-white-color);
}

.footer-social-list {
  display: flex;
}

.footer-social-list__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--text-white-color);

  transition: background-color 250ms var(--func-cubic),
    color 250ms var(--func-cubic);
}

.footer-social-list__link:hover {
  background-color: var(--link-hover-color);
  color: var(--text-white-color);
}

.footer-social-list__link:focus {
  background-color: var(--link-hover-color);
  color: var(--text-white-color);
}

.footer-social-list__icon {
  fill: currentColor;
}

.form-subscription {
  display: flex;
}

.form-subscription__input-email {
  padding-left: 16px;

  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-sizing: border-box;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */

  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;

  color: var(--link-footer-color);
  background-color: transparent;
}

.form-subscription__input-email:not(::placeholder) {
  background-color: transparent;
}

.form-subscription__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;

  width: 200px;
  height: 50px;

  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;

  color: var(--text-white-color);
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid var(--brand-color);
}

.form-subscription__icon {
  margin-left: 10px;
  fill: currentColor;
}

/* ---PORTFOLIO.HTML--- */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-button {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.portfolio-button__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button__btn {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;

  background-color: var(--background-light);
  color: var(--text-bold-color);

  border: none;
  border-radius: 3px;

  transition: background-color 250ms var(--func-cubic),
    color 250ms var(--func-cubic);
}

.portfolio-button__btn:hover {
  background-color: var(--link-hover-color);
  color: var(--text-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-button__btn:focus {
  background-color: var(--link-hover-color);
  color: var(--text-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* --- CARDS GRID --- */

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.card-set__item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);

  border: 1px solid #eeeeee;
}

.card__link {
  transition: box-shadow 250ms var(--func-cubic);
}

.card__link:hover {
  display: inline-block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__link:focus {
  display: inline-block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__link:hover .card_text-overlay {
  transform: translateY(0%);
  opacity: 1;
}

.card__link:focus .card_text-overlay {
  transform: translateY(0%);
  opacity: 1;
}

.card__thumb {
  position: relative;
}

.card_text-overlay {
  position: absolute;
  top: 0;
  left: 0;

  padding: 63px 24px;
  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--text-white-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms var(--func-cubic), opacity 250ms var(--func-cubic);
}

.card__text-wrapper {
  padding: 20px 24px;
}

.card__title {
  margin-bottom: 4px;

  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;

  color: var(--text-bold-color);
}

.card__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;

  color: var(--text-main-color);
}
